[Unit]
Description=Dotfile Updater
Requires=network-online.target

[Service]
Type=oneshot
WorkingDirectory=~
ExecStart=/usr/bin/git pull

[Install]
WantedBy=default.target
