*
!*/
!.gitignore
!.config/sway/config
!.config/i3/config
!.Xresources
!.xinitrc
!.bash_profile
!.bashrc
!.tmux.conf
!.local/bin/bulkrepl
!.local/bin/sway_d
!.local/bin/upload
!.local/bin/change_bg
!.local/bin/statusbar
!.local/bin/set_bg
!.config/systemd/user/redshift.service
!.config/systemd/user/ssh-agent.service
!.config/systemd/user/dotfiles-update.service
!.config/nvim/init.vim
!.config/nvim/colors/m1cr0man-feint.vim
!.config/nvim/colors/m1cr0man.vim
!.config/m1cr0man/LS_COLOURS
!.config/m1cr0man/sublime-text/.stfolder
!.config/m1cr0man/sublime-text/BufferScroll.sublime-settings
!.config/m1cr0man/sublime-text/ComputerCraft.sublime-settings
!.config/m1cr0man/sublime-text/EJS.sublime-settings
!.config/m1cr0man/sublime-text/expression2.sublime-settings
!.config/m1cr0man/sublime-text/JavaScript.sublime-settings
!.config/m1cr0man/sublime-text/JSON.sublime-settings
!.config/m1cr0man/sublime-text/Lua.sublime-settings
!.config/m1cr0man/sublime-text/Package Control.sublime-settings
!.config/m1cr0man/sublime-text/Plain text.sublime-settings
!.config/m1cr0man/sublime-text/Preferences.sublime-settings
!.config/m1cr0man/sublime-text/PythonKattis.sublime-build
!.config/m1cr0man/sublime-text/SQF.sublime-settings
!.config/m1cr0man/sublime-text/SublimeLinter.sublime-settings
!.config/m1cr0man/sublime-text/SublimeLinter/Amy (SL).tmTheme
!.config/m1cr0man/sublime-text/SublimeLinter/Monokai (SL).tmTheme
!.config/m1cr0man/sublime-text/SublimeLinter/Monokai Extended (SL).tmTheme
!.config/m1cr0man/sublime-text/SublimeLinter/MonokaiPylinter (SL).tmTheme
