*
!*/
!.gitignore
!.config/sway/config
!.config/i3/config
!.Xresources
!.xinitrc
!.bash_profile
!.bashrc
!.tmux.conf
!.local/bin/bulkrepl
!.local/bin/sway_d
!.local/bin/upload
!.local/bin/change_bg
!.local/bin/statusbar
!.local/bin/set_bg
!.config/systemd/user/redshift.service
!.config/systemd/user/ssh-agent.service
!.config/nvim/init.vim
!.config/nvim/colors/m1cr0man-feint.vim
!.config/nvim/colors/m1cr0man.vim
!.config/m1cr0man/LS_COLOURS
