*
!.gitignore
!.config/sway/config
!.config/i3/config
!.Xresources
!.xinitrc
!.bash_profile
!.bashrc
!.tmux.conf
!.asoundrc
!.local/bin/bulkrepl
!.local/bin/sway_d
!.local/bin/upload
!.local/bin/i3lock
!.local/bin/set_bg
!.local/bin/statusbar
!.local/bin/opera
!.local/bin/startvpn
!.local/bin/upload_bg
!.local/bin/ssh-refresh
!.local/bin/gen_postman_docs
!.local/bin/hello_mike
!.local/bin/mschap_hash
!.local/bin/mysql
!.local/bin/uptime_to_date
!.local/bin/cliparent
!.local/bin/colortest
!.local/bin/dock
!.local/bin/undock
!.local/bin/docker-cleanup
!.local/bin/restart_urxvt
!.config/systemd/user/redshift.service
!.config/systemd/user/ssh-agent.service
!.config/systemd/user/dotfiles-update.service
!.config/nvim/init.vim
!.config/nvim/colors/m1cr0man-feint.vim
!.config/nvim/colors/m1cr0man.vim
!.config/m1cr0man/LS_COLOURS
!.config/m1cr0man/sublime-text/.stfolder
!.config/m1cr0man/sublime-text/BufferScroll.sublime-settings
!.config/m1cr0man/sublime-text/ComputerCraft.sublime-settings
!.config/m1cr0man/sublime-text/EJS.sublime-settings
!.config/m1cr0man/sublime-text/expression2.sublime-settings
!.config/m1cr0man/sublime-text/JavaScript.sublime-settings
!.config/m1cr0man/sublime-text/JSON.sublime-settings
!.config/m1cr0man/sublime-text/Lua.sublime-settings
!.config/m1cr0man/sublime-text/Package Control.sublime-settings
!.config/m1cr0man/sublime-text/Plain text.sublime-settings
!.config/m1cr0man/sublime-text/Preferences.sublime-settings
!.config/m1cr0man/sublime-text/PythonKattis.sublime-build
!.config/m1cr0man/sublime-text/SQF.sublime-settings
!.config/m1cr0man/sublime-text/SublimeLinter.sublime-settings
!.config/m1cr0man/sublime-text/APIBlueprint.sublime-settings
!.config/m1cr0man/sublime-text/Markdown Extended.sublime-settings
!.config/m1cr0man/sublime-text/Markdown.sublime-settings
!.config/m1cr0man/sublime-text/Pylinter.sublime-settings
!.config/m1cr0man/sublime-text/Tern.sublime-settings
!.config/m1cr0man/sublime-text/trailing_spaces.sublime-settings
!.config/m1cr0man/sublime-text/node.sublime-build
!.config/m1cr0man/sublime-text/Monokai Boxy.tmTheme
!.config/m1cr0man/sublime-text/SublimeLinter/Amy (SL).tmTheme
!.config/m1cr0man/sublime-text/SublimeLinter/Monokai (SL).tmTheme
!.config/m1cr0man/sublime-text/SublimeLinter/Monokai Extended (SL).tmTheme
!.config/m1cr0man/sublime-text/SublimeLinter/MonokaiPylinter (SL).tmTheme
