[Unit]
Description=Redshift eye saver

[Service]
ExecStart=/usr/bin/redshift -m wayland
Restart=always
TimeoutSec=60

[Install]
WantedBy=default.target
